.stay-safe {
  &__container {
    display: flex;
    padding: 144px 60px 106px 74px;

    @media (max-width: $bpPCS) {
      padding-right: 10px;
      padding-left: 55px;
    }

    @media (max-width: $bpTab) {
      padding: 80px 60px 40px 74px;
    }

    @media (max-width: $bpMobL) {
      flex-direction: column;
      padding: 30px 15px;
    }
  }

  @import "stay-safe-image";

  &__block-content {
    display: flex;
    flex-direction: column;
    flex: 0 1 51%;
    justify-content: center;

    & > .block-content__title {
      font-size: 2.5rem;
    }

    & > .block-content__text {
      padding-right: 120px;

      @media (max-width: $bpMobL) {
        padding-right: 0;
        max-width: 500px;
      }
    }

    @media (max-width: $bpMobL) {
      order: -1;
      text-align: center;
      align-items: center;
      margin: 0 0 60px 0;
    }

    @media (max-width: $bpMobS) {
      padding: 0 0;
    }
  }
}

