.expirience {
    &__container {
        padding: 90px 15px 110px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;

        @media (max-width: $bpMobL) {
            padding: 40px 15px;
        }
    }

    &__block-title {
        max-width: 610px;
    }

    &__statistic-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
}