.button {
  display: block;
  width: 140px;
  height: 40px;
  padding: 14px 0 0;
  text-align: center;
  text-transform: uppercase;
  background-color: $pink;
  border-radius: 5px;
  color: $white;
  font-family: Raleway;
  font-size: toEm(10);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
  @include hoverBtn;

  &:active{
    color: $l-green;
  }

  &--blue {
    background-color: $blue;
  }
}

