header.header
    .header__container
        .header__logo
            a.header__logo-text(href="/") Relvise
        nav.header__menu.navigation#menu
            ul.navigation__menu
                li.navigation__item
                    a.navigation__link(href='#') Home
                li.navigation__item
                    a.navigation__link(href='#') Product
                li.navigation__item
                    a.navigation__link(href='#') Pricing
                li.navigation__item
                    a.navigation__link(href='#') Contact
        .navigation__button#menu-button
            .navigation__burger
                span